<h1>Admin Panel</h1>

<ul class="nav nav-tabs">
    <li><a ui-sref=".users">Users</a></li>
    <li><a ui-sref=".courses">Courses</a></li>
    <li><a ui-sref=".events">Events</a></li>
    <li><a ui-sref=".eventsContent">Events Content</a></li>
    <li><a ui-sref=".subscription">Subscriptions</a></li>
</ul>

<br />
<br/>

<div ui-view></div>